.items-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 -24px -8px;
  .item {
    margin-left: 8px;
    width: calc(33% - 6px);
    margin-bottom: 12px;
    img {
      max-height: 150px;
    }
  }
}
.model-list {

}

.model-name {
  margin-right: 4px;
  cursor: pointer;
}

.badge {
  &.active {
    background-color: darken(#17a2b8, 20%);
  }
}
